<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        div.changeDiv input {
    font-size: 1em;
    font-family: 仿宋, serif;
    width: 60%;
    display: block;
    margin-left: 10%;
    opacity: 0.8;
    padding: 0.2em;
    color: #000000;
    border-radius: 10px;
    background-color: #bed8df;
}
    </style>
</head>
<body>
<section>
           <div class="changeDiv">
            <a>性别:</a>
            <input id="sex" type="text" list="sexlist">
            <datalist id="sexlist">
                <option>男</option>
                <option>女</option>
            </datalist>
        </div>
    <div>
            <label for="sex">性别:</label>
            <select id="sex" name="" >
                <option>男</option>
                <option>女</option>
            </select>
        </div>
</section>
</body>
</html>
