
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>药品信息打印</title>
    <link rel="stylesheet" href="{% static 'css/ces.css' %}">
     <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
        <script language="javascript" type="text/javascript">
        function doPrint() {
            bdhtml=window.document.body.innerHTML; //获取当前页的html代码
            sprnstr="<!--startprint-->"; //设置打印开始区域
            eprnstr="<!--endprint-->";//设置打印结束区域
            prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);//从开始代码向后取html
            prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
            window.document.body.innerHTML=prnhtml;
            window.print();
        }
    </script>
</head>

<body>
<div class="bod">
    	<div  class="header" >
         <h2 class="xin">药品信息打印</h2>
               <div id="nav">

  <ul>

    <li> <div class="head" style=" z-index: 1000;float: right ;margin: 5px 60px 0 0">

			<div class="dropdown">
			    <button class="dropbtn"><img src="/static/image/4.jpg" style="height:50px;width:50px;float:left;"></button>
			    <div class="dropdown-content">
			        <a href="blog/index.jsp">你好：{{ username }}！</a>
                    <a href="http://127.0.0.1:8000/DeleteUser/">查看所有用户</a>
			        <a href="http://127.0.0.1:8000/">注销退出</a>
			    </div>
			</div>

   </li>

   <li class="li1"><a href="#goto1" title="">自助服务</a></li>

    <li class="li1"><a href="http://127.0.0.1:8000/Homepage/" title="">主页</a></li>


  </ul>

  </div>
        </div>
    	<div  class="cebian">
            <from class="bbt" >
                <a href="http://127.0.0.1:8000/ClientPrint/">
                    <input type="button" value="顾客信息打印"  class="button1" >
                </a>
                  <a href="http://127.0.0.1:8000/AgencyPrint/">
                     <input type="button" value="经办人信息打印" class="button1"  >

                    </a>
                     <input type="button" value="药品信息打印"  class="button2" onclick="javascript:doPrint()">

            </from>


        </div>
    	<div   class="zhengwen" style="text-align: center">


<!--startprint-->
                      <!--打印内容开始-->
                    <table class="hovertable" id="blocks" >
                         <h2 style="text-align: center">{{ hobby }}</h2>
                        <br>
                        <br>
                   <tr>
                        <th>药品编号</th><th>药品名称  </th><th>服用方法  </th><th>功效</th><th>库存</th>
                        </tr>
                        <ul>{% for medicine in medicines %}

                        <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                        <td>{{ medicine.mno }}</td><td>{{ medicine.mname }}</td><td>{{medicine.mmode}}</td><td>{{medicine.mefficacy}}</td><td>{{ medicine.mcount }}</td>
                    </tr>
                        {% endfor %}
                        </ul>

                </table>
            <br>
            <br>
            <br>
                <h3 style="text-align: center">共{{ count }}种药品，其中外用{{ sex }}种，内服{{ sex1 }}种</h3>
            <!--打印内容结束-->
          <!--endprint-->
              <input type="button" id="bt" onclick="javascript:doPrint()"   value="打印" />




        </div>
    	<div   class="boot">
 <section class="w3l-call-to-action_9">
    <div class="call-w3 editContent" id="goto1">
        <div class="container">
            <div class="grids">
                    <div class="grids-content row">
                        <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                            <div class="bg-color-white">
                                <div class="span-color editContent">
                        <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                    </div>
                            <h4><a href="http://127.0.0.1:8000/SearchAgency/" class=" editContent">查询功能</a></h4>
                            <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

                        </div>
                    </div>
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">
                            <span class="fa fa-smile-o" aria-hidden="true"></span>
                        </div>
                        <h4><a href="http://127.0.0.1:8000/SetAgency/" class=" editContent">信息录入</a></h4>
                        <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

                    </div>
                </div>

                <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                    <div class="bg-color-white">
                        <div class="span-color editContent">
                        <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    <h4><a href="http://127.0.0.1:8000/DeleteAgency/" class=" editContent">信息删除</a></h4>
                    <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

                </div>
            </div>
            <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                <div class="bg-color-white">
                    <div class="span-color editContent">
            <span class="fa fa-diamond" aria-hidden="true"></span>
        </div>
                <h4><a href="http://127.0.0.1:8000/PolishAgency/" class=" editContent">信息修改</a></h4>
                <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

            </div>
        </div>
            <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
            <div class="bg-color-white">
                <div class="span-color editContent">
        <span class="fa fa-magic" aria-hidden="true"></span>
    </div>
             <h4><a href="http://127.0.0.1:8000/ToClinet/" class=" editContent"> 信息浏览</a></h4>
            <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

        </div>
    </div>                       <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
        <div class="bg-color-white">
            <div class="span-color editContent">
    <span class="fa fa-check" aria-hidden="true"></span>
</div>
        <h4><a href="http://127.0.0.1:8000/AgencyPrint/" class=" editContent">数据报表</a></h4>
        <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>

    </div>
</div>
                    </div>
                </div>
        </div>
    </div>
</section>
        </div>
    </div>
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-eject"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>
</html>
